h4  Dear Investor,
p This e-mail is being sent for validation of e-mail ID updated in your Trading account having Unique Client Code #{investorObj.uccInvestorCode}.
p You are requested to confirm / reject, your email id mapped with #{investorObj.uccTmName} for Client Code #{investorObj.uccInvestorCode}
a(href=ref) Click here,
p to confirm generate One-Time-Password (OTP) by clicking on the link  and enter OTP to complete verification of your email id on the screen.
p In case the said trading account does not pertain to you, kindly click on the option "This trading account does not belong to me" available on the link.
p This e-mail ID will be used for all future communications by the Exchange pertaining to your aforesaid UCC.

p Different OTPs will be sent through e-mail for email ID verification and through SMS for mobile no. verification.   Please ensure that you enter the correct OTP to complete the verification process. You can verify email ID and mobile number separately at different points in time or complete both simultaneously.

p Please do not share your OTP with anyone including your Stockbroker.

p For any OTP related query for verification of either email or SMS, please email us at uci helpdesk@nse.co.in